@using CatalogFooball.Services.Enums
@model CatalogFooball.Models.FootballPlayer

@{
    ViewData["Title"] = "Добавление футболиста";
}

<h1>Страница добавления</h1>

<h4>Футболист</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <select asp-for="Sex" class="form-control" asp-items="Html.GetEnumSelectList<Sex>()"></select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateBirthday" class="control-label"></label>
                <input type="date" asp-for="DateBirthday" class="form-control" />
                <span asp-validation-for="DateBirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Command.Name" class="control-label"></label>\


                <input type="text" asp-for="Command.Name" class="form-control" list="CommandsOptions" />
                <datalist id="CommandsOptions">
                    @foreach (var item in ViewBag.Commands)
                    {
                        <option value="@item.Name"></option>
                    }
                </datalist>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class ="form-control" asp-items="ViewBag.Countries"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}


